/* ___________ menu ___________ */
* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100vh;
    height: 100vh;
  }
  body #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #container img {
    width: 100%;
    height: 100%;
  }
  body #container .home {
    position: absolute;
    background: rgba(45, 43, 43, 0.1411764706);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  body #container .home .header {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
  body #container .home .header h4 {
    color: #fff;
  }
  body #container .home .meio {
    position: absolute;
    width: 60%;
    height: 3rem;
    left: 50%;
    bottom: 23%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body #container .home .meio a {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    line-height: 2.5rem;
    letter-spacing: 2px;
    background: #FFE600;
    border-radius: 9px;
    box-shadow: 0px 2px 5px rgb(213, 200, 18);
  }
  body #container .home .meio a span {
    color: rgb(35, 35, 35);
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
  }
  body #container .home .rodape {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body #container .home .rodape a {
    width: 20%;
  }
}
/* ___________ menu ___________ */
/* ___________ menu ___________ */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100vh;
    height: 100vh;
    overflow: hidden;
  }
  body #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #container img {
    width: 100%;
    height: 100%;
  }
  body #container .home {
    position: absolute;
    background: rgba(45, 43, 43, 0.2235294118);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  body #container .home .header__cardapio {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
  }
  body #container .home .header__cardapio h5 {
    color: #fff;
  }
  body #container .home .menu {
    position: absolute;
    width: 70%;
    height: 60%;
    top: 40%;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body #container .home .menu a {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    flex-direction: row-reverse;
  }
  body #container .home .menu a li {
    width: 100%;
    border-bottom: solid 2px #ffe600;
    color: #fff;
  }
  body #container .home .menu a span {
    margin-left: 5px;
    background: #ffe600;
    width: 14%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    color: #000;
  }
  body #container .home .menu__promocao {
    background: #fff;
    width: 70%;
    height: 15%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
  }
}/*# sourceMappingURL=style.css.map */